.form > img {
    width: 250px;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 10px;
}

.form{
    display: grid;
    gap: 20px;
    place-items: center;
    width: 100%;
    margin: 0;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    color: aliceblue;
}

.button {
  display: inline-block;
  padding: 5px 30px;
  background-color: #00adb5;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: transparent;
  border-radius: 25rem;
  cursor: pointer;
  overflow: hidden;
  transition: .8s;
}

.button:hover{
  background-color: #20B620;
  border-radius: 2rem;
}

.label{
  font-size: 16px;
}

.inputs{
  background-color: #00adb5;
  border: transparent;
  border-radius: 25rem;
  font-size: 16px;
  padding: 5px 25px;
  text-align: center;
  transition: .8s;
}

.inputs:hover{
  
}